/{
	pwmleds: pwmleds {
		compatible = "pwm-leds";
		status = "okay";

		pwm_led0: pwm_led0 {
			pwms = <&pwm1 1 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
		};

		pwm_led1: pwm_led1{
			pwms = < &pwm1 2 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
		};
	};

	leds: leds {
		compatible = "gpio-leds";	
		builtinled: builtinled {
			gpios = < &gpioa 5 GPIO_ACTIVE_HIGH >;	
		};
	};
	aliases {

		pwmt = &pwm_led0;
		pwmn = &pwm_led1;
		led0 = &builtinled;

	};

	zephyr,user {
		io-channels = <&adc1 1>, <&adc1 2>, <&adc1 8>, <&adc1 9>, <&adc3 1>, <&adc3 12>, <&adc4 5>;
	};
};


&timers1 {
	// st,prescaler = <10000>;
	status = "okay";

	pwm1: pwm {
		status = "okay";
		// pinctrl-0 = <&tim1_ch2_pa9>;
		// pinctrl-0 = <&tim1_ch1_pa8>;
		pinctrl-0 = <&tim1_ch1_pa8 &tim1_ch2_pa9>;
		pinctrl-names = "default";
	};
};


&adc1 {
	
	st,adc-prescaler = < 4 >;
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	st,adc-clock-source = <SYNC>;
	pinctrl-0 = <&adc1_in1_pa0 &adc1_in2_pa1 &adc1_in8_pc2 &adc1_in9_pc3>;
	pinctrl-names = "default";
	channel@1{
		reg = < 1 >;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;

	};

	channel@2{
		reg = <2>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;

	};

	channel@8{
		reg = <8>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;

	};

	channel@9{
		reg = <9>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;

	};
};

&adc3 {
	st,adc-prescaler = < 2 >;
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	st,adc-clock-source = <SYNC>;
	pinctrl-0 = <&adc3_in12_pb0 &adc3_in1_pb1>;
	pinctrl-names = "default";
	channel@1{
		reg = < 1 >;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;

	};

	channel@c{
		reg = <0xc>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;

	};
};

&adc4 {
	st,adc-prescaler = < 2 >;
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	st,adc-clock-source = <SYNC>;
	pinctrl-0 = <&adc4_in5_pb15>;
	pinctrl-names = "default";
	channel@5{
		reg = < 5 >;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;

	};
};