/{
	pwmleds {
		allpwms: allpwms{
			pwms = <&pwm3 1 PWM_KHZ(100) PWM_POLARITY_NORMAL>,
				   <&pwm3 2 PWM_KHZ(100) PWM_POLARITY_NORMAL>,
				   <&pwm3 3 PWM_KHZ(100) PWM_POLARITY_NORMAL>;

		};	
	};
	leds: leds {
		compatible = "gpio-leds";	
		builtinled: builtinled {
			gpios = < &gpioa 5 GPIO_ACTIVE_HIGH >;	
		};
	};

	busytft: busytft{
		compatible = "busy-tft";
		gpios = <&gpioa 6 GPIO_PULL_DOWN>;

	};
	aliases {

		led0 = &builtinled;
		modbus = &modbus3;
		// lcdusart = &lpuart1;
		lcdusart = &usart2;
		die-temp0 = &die_temp;

	};
	
	zephyr,user {
		io-channels = <&adc4 5>, <&adc3 12>, <&adc1 1>, <&adc1 2>, <&adc1 9>, <&adc1 8>, <&adc2 17>;
	};
	chosen {
		zephyr,console = &lpuart1;
		zephyr,shell-uart = &lpuart1;
		// zephyr,console = &usart2;
		// zephyr,shell-uart = &usart2;
	};
};

&green_pwm_led {
	status = "disabled";
};

// &timers1 {
// 	st,prescaler = <1>;
// 	status = "okay";

// 	pwm1: pwm {
// 		status = "okay";
// 		pinctrl-0 = <&tim1_ch1_pa8 &tim1_ch2_pa9>;
// 		pinctrl-names = "default";
// 	};
// };

&timers3 {
	st,prescaler = <1>;
	status = "okay";

	pwm3: pwm {
		status = "okay";
		pinctrl-0 = < &tim3_ch1_pc6 &tim3_ch2_pa7 &tim3_ch3_pc8>;
		pinctrl-names = "default";
	};
};


&adc1 {
	
	st,adc-prescaler = < 4 >;
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	st,adc-clock-source = <SYNC>;
	pinctrl-0 = <&adc1_in1_pa0 &adc1_in2_pa1 &adc1_in8_pc2 &adc1_in9_pc3>;
	pinctrl-names = "default";
	channel@1{
		reg = < 1 >;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";	
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
		// zephyr,vref-mv =<2048>;

	};

	channel@2{
		reg = <2>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;

	};

	channel@8{
		reg = <8>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;

	};

	channel@9{
		reg = <9>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;

	};


};

&adc2 {
	st,adc-prescaler = < 2 >;
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	st,adc-clock-source = <SYNC>;
	pinctrl-0 = <&adc2_in17_pa4>;
	pinctrl-names = "default";
	channel@11{
		reg = <0x11>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;

	};

};


&adc3 {
	st,adc-prescaler = < 2 >;
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	st,adc-clock-source = <SYNC>;
	pinctrl-0 = <&adc3_in12_pb0>;
	pinctrl-names = "default";
	channel@c{
		reg = <0xc>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;

	};
};

&adc4 {
	st,adc-prescaler = < 2 >;
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	st,adc-clock-source = <SYNC>;
	pinctrl-0 = <&adc4_in5_pb15>;
	pinctrl-names = "default";
	channel@5{
		reg = < 5 >;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;

	};
};

&lpuart1 {
	status = "okay";
	pinctrl-0 = < &lpuart1_tx_pc1 &lpuart1_rx_pc0>;
	// pinctrl-names = "default", "analog";
	current-speed = < 115200 >;
};


&usart2 {
	status = "okay";
	pinctrl-0 = < &usart2_tx_pa2 &usart2_rx_pa3 >;
	pinctrl-names = "default";
	current-speed = < 115200 >;
	// fifo-enable;
};



&usart3 {
	status = "okay";
	pinctrl-0 = < &usart3_tx_pc10 &usart3_rx_pc11 >;
	pinctrl-names = "default";
	modbus3: modbus{
		compatible = "zephyr,modbus-serial";
		status = "okay";
		de-gpios = < &gpiob 14 GPIO_ACTIVE_LOW >;
	};
};


&fdcan1 {
	status = "okay";
	pinctrl-0 = < &fdcan1_tx_pb9 &fdcan1_rx_pb8 >;
	pinctrl-names = "default";
};
&die_temp {
	status = "okay";
};


// &usb {
// 	status = "okay";
// };

// hrtim1_cha1_pa8
//hrtim1_cha2_pa9
// hrtim1_scin_pb6
//hrtim1_scout_pb1 
&vref {
	status = "okay";
	// vrefint-cal-mv = <2048>;
};

&clk_hsi {
	status = "okay";
};

&clk_hse {
	status = "disabled";
};

&pll {
	clocks = <&clk_hsi>;
	div-m = <4>;
	mul-n = <85>;
	div-q = <2>;
	div-p = <2>;
};


